.chrome-ext-umu {
    z-index: 99999;
    position: fixed;
    bottom: 20px;
    left: 10px;
    transition: left 0.5s ease;
    font-size: 14px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
    background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
}

.chrome-ext-umu-hide {
    left: -80px;
}

.chrome-ext-umu-btn-close {
    display: inline-block;
    position: relative;
    top: 0;
    left: 80px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}


.chrome-ext-umu-btn {
    cursor: pointer;
    width: 90px;
    height: 30px;
    display: block;
    background: #aaa;
    line-height: 30px;
    text-align: center;
    color: #333333;
    border-bottom: 1px solid #aaaaaa
}

.chrome-ext-umu-btn.chrome-ext-umu-btn-active {
    background: #cacaca;
}

.chrome-ext-umu-lang {

}

.chrome-ext-umu-auto-fill {

}