.chrome-ext-umu {
    z-index: 99999;
    position: fixed;
    bottom: 20px;
    left: 10px;
    transition: all 0.5s ease-in;
    font-size: 14px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)), to(rgba(101, 84, 76, 0.8)));
    background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
}

.chrome-ext-umu-hide {
    left: -110px;
    bottom: -250px;
}

.chrome-ext-umu-btn-close {
    display: inline-block;
    position: relative;
    top: 0;
    left: 110px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

.chrome-ext-umu-btn {
    cursor: pointer;
    width: 120px;
    height: 30px;
    display: block;
    background: #aaa;
    line-height: 30px;
    text-align: center;
    color: #333333;
    border-bottom: 1px solid #aaaaaa
}

.chrome-ext-umu-btn.chrome-ext-umu-btn-active {
    background: #cacaca;
}

.chrome-ext-umu-lang {

}

.chrome-ext-umu-auto-fill {

}

.chrome-ext-umu-lang-env {
    position: absolute;
    top: -20px;
    text-align: left;
    background: transparent;
    border-bottom: none;
    width: 80px;
}

.chrome-ext-umu-lang-env .chrome-ext-umu-avatar {
    border-radius: 50%;
    width: 36px;
}

.chrome-ext-umu-lang-compile-time {
    background: transparent;
}

/**/

.chrome-ext-umu-color0 {
    background-color: #AA62E3
}

.chrome-ext-umu-color1 {
    background-color: #37C5AB
}

.chrome-ext-umu-color2 {
    background-color: #E362E3
}

.chrome-ext-umu-color3 {
    background-color: #FC91AD
}

.chrome-ext-umu-color4 {
    background-color: #4186E0
}

.chrome-ext-umu-color5 {
    background-color: #EEC300
}

.chrome-ext-umu-color6 {
    background-color: #FD9A00
}

.chrome-ext-umu-color7 {
    background-color: #7A6FF0
}

.chrome-ext-umu-lang-domain-change {
    position: relative;
}

.chrome-ext-umu-domain-label {

    font-size: 12px;
}
.chrome-ext-umu-domain-btn {
    border-radius: 50%;
    text-align: center;
    display: inline;
    padding: 1px 3px 2px 2px;
    color: #fff;
    font-weight: 700;
}

/*
.chrome-ext-umu-lang-domain-change span::before {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%;
    opacity: .5;
    width: 100%
}
*/











