.chrome-ext-umu {
    z-index: 99999;
    position: fixed;
    bottom: 20px;
    left: 10px;
    transition: all 0.5s ease-in;
    font-size: 14px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)), to(rgba(101, 84, 76, 0.8)));
    background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
}

.chrome-ext-umu-hide {
    left: -100px;
    bottom: -260px;
}

.chrome-ext-umu-btn-close {
    /*display: inline-block;
    position: relative;
    top: 0;
    left: 110px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;*/
}

.chrome-ext-umu-btn {
    cursor: pointer;
    width: 120px;
    height: 30px;
    display: block;
    background: #aaa;
    line-height: 30px;
    text-align: center;
    color: #333333;
    border-bottom: 1px solid #aaaaaa
}

.chrome-ext-umu-btn.chrome-ext-umu-btn-active {
    background: #cacaca;
}

.chrome-ext-umu-lang {

}

.chrome-ext-umu-auto-fill {

}

.chrome-ext-umu-lang-env {
    position: absolute;
    top: -20px;
    text-align: left;
    background: transparent;
    border-bottom: none;
    width: 80px;
}

.chrome-ext-umu-lang-env .chrome-ext-umu-avatar {
    border-radius: 50%;
    width: 36px;
}

.chrome-ext-umu-lang-compile-time {
    padding-top: 10px;
    background: transparent;
}

/**/

.chrome-ext-umu-color0 {
    background-color: #AA62E3
}

.chrome-ext-umu-color1 {
    background-color: #37C5AB
}

.chrome-ext-umu-color2 {
    background-color: #E362E3
}

.chrome-ext-umu-color3 {
    background-color: #FC91AD
}

.chrome-ext-umu-color4 {
    background-color: #4186E0
}

.chrome-ext-umu-color5 {
    background-color: #EEC300
}

.chrome-ext-umu-color6 {
    background-color: #FD9A00
}

.chrome-ext-umu-color7 {
    background-color: #7A6FF0
}

.chrome-ext-umu-lang-domain-change {
    position: relative;
}

.chrome-ext-umu-domain-label {

    font-size: 12px;
}

.chrome-ext-umu-domain-btn {
    border-radius: 50%;
    text-align: center;
    display: inline;
    padding: 1px 3px 2px 2px;
    color: #fff;
    font-weight: 700;
}

/*
.chrome-ext-umu-lang-domain-change span::before {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%;
    opacity: .5;
    width: 100%
}
*/

.chrome-ext-umu-ruler {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 65536;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUAAAAAUAQMAAADGNna8AAAABlBMVEUAAADg4ODy8Xj7AAAAAXRSTlMAQObYZgAAABpJREFUKM9j+E8kYGhg4GAghhhVOKpweCsEAPTheJkl7GweAAAAAElFTkSuQmCC);
    background-repeat: repeat;
    pointer-events: none;
    display: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    outline: none;
    position: absolute;
    right: 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: #fff;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger-box {
    width: 20px;
    height: 18px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner {
    background-color: #AA62E3;
}

.hamburger-inner::before {
    background-color: #37C5AB;

}

.hamburger-inner::after {
    background-color: #FD9A00;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

/*
 * Stand
 */
.hamburger--stand .hamburger-inner {
    transition: background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear;
    transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand .hamburger-inner::before {
    transition: top 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand .hamburger-inner::after {
    transition: bottom 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand.is-active .hamburger-inner {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: transparent;
    transition: background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear;
    transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: top 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: bottom 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}




